<ion-content>
  <div class="login-section ion padding">
   <div class="heading ion-padding">
     <h1>Create an Account</h1>
   </div>
   <div class="login-form ion-padding">
    <div class="form-input">
      <ion-icon name="person-outline"></ion-icon>
      <ion-item>
          <ion-label position="floating">NAME</ion-label>
          <ion-input type="text"></ion-input>

      </ion-item>
    </div>
   </div>
   <div class="login-form ion-padding">
      <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
              <ion-label position="floating"> Email</ion-label>
              <ion-input type="email"></ion-input>
          </ion-item>
      </div>
      <div class="form-input">
          <ion-icon name="lock-closed-ouline"></ion-icon>
          <ion-item>
              <ion-label position="floating"> Password</ion-label>
              <ion-input type="password"></ion-input>
          </ion-item>
      </div>
   </div>
   <div class="action-button ion-padding">
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/login"> Sign up</ion-button>
   </div>
  </div>
 </ion-content>
